.App{

    margin: 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f6f6f6;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;



}
.layout-sidebar {
  position: fixed;
  left: 0;
  top: 70px;
  height: 100%;
  background-color: #ffffff;
  width: 20%;
  overflow: auto;
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

}

.p-grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -.5em;
  margin-left: -.5em;
  margin-top: -.5em;
}



.layout-topbar {
  background-color: #20272a;
  display: block;
  padding: 0;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}
.layout-content {
  margin-left: 20%;
  padding-top: 70px;
}
.layout-content .content-section {
  display: block;
  padding: 30px;
  background-color: #f5f7f8;
}
.layout-content .content-section.introduction {
    padding: 30px;
  background-color: #008fba;
  background-image: -webkit-linear-gradient(left,#008fba,#03c4e8);
  background-image: linear-gradient(90deg,#008fba,#03c4e8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#008fba",endColorStr="#03c4e8",gradientType="1");
  color: #fff;
}


#layout-content .content-section.implementation {
  background-color: #fff;
}

#layout-content .content-section.implementation>h3 {
  font-weight: 400;
  margin-top: 30px;
  font-size: 18px;
}


ul {list-style: none;}

.marged-top {
  margin-top: 15px;
}

.form-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.full-widh {
  width: 100%;
}

